@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-card-image .card.image-full:before {
  border-radius: 0.5rem;
  opacity: 0.45;
}

/* body{
  background: #0e7490;
} */
/* From uiverse.io */
.btn-x {
  display: inline-block;
  padding: 12px 24px;
  border: 1px solid #ffffff;
  border-radius: 4px;
  transition: all 0.2s ease-in;
  position: relative;
  overflow: hidden;
  font-size: 19px;
  color: rgb(255, 255, 255);
  z-index: 1;
}

.btn-x:before {
  content: '';
  position: absolute;
  left: 50%;
  transform: translateX(-50%) scaleY(1) scaleX(1.25);
  top: 100%;
  width: 140%;
  height: 180%;
  background-color: rgba(0, 0, 0, 0.05);
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-x:after {
  content: '';
  position: absolute;
  left: 55%;
  transform: translateX(-50%) scaleY(1) scaleX(1.45);
  top: 180%;
  width: 160%;
  height: 190%;
  background-color: #22d3ee;
  border-radius: 50%;
  display: block;
  transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
  z-index: -1;
}

.btn-x:hover {
  color: #ffffff;
  border: 1px solid #22d3ee;
}

.btn-x:hover:before {
  top: -35%;
  background-color: #22d3ee;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

.btn-x:hover:after {
  top: -45%;
  background-color: #22d3ee;
  transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
